{% extends "base.j2" %}
{% block content %}

<div class="row">
    <div class="col">
        <h1>このサイトについて</h1>
        <h2>趣旨</h2>
        <p>
            URAによる研究力分析において、科研費の採択状況の集計や分析は、多くの大学で行われています。
            ScopusとSciVal、Web of ScienceとInCitesのように、データベースには分析ツールがありますが、
            ここでは、KAKENに対する分析ツールを作ることを目的にしています。
        </p>
        <h2>作成した人</h2>
        <p>
            何かありましたら、お気軽にどうぞ。
            将来的にはCode for Research Administrationのコミュニティで開発したいと思っています。
        </p>
        <dl class="row">
            <dt class="col-2">氏名</dt>
            <dd class="col-10">平井 克之</dd>
            <dt class="col-2">所属・職名</dt>
            <dd class="col-10">新潟大学 研究企画室 リサーチ・アドミニストレーター(URA)</dd>
            <dt class="col-2" >メール</dt>
            <dd class="col-10">hirai[at]adm.niigata-u.ac.jp</dd>
            <dt class="col-2">Twitter</dt>
            <dd class="col-10"><a href="https://twitter.com/hiraikatsuyuki" target="_blank">@hiraikatsuyuki</a></dd>
            <dt class="col-2">GitHub</dt>
            <dd class="col-10"><a href="https://github.com/hiraikatsuyuki">hiraikatsuyuki</a></dd>
        </dl>
    </div>
</div>

{% endblock %}